.color-AliceBlue {
  background: #F0F8FF;
}

.color-AliceBlue:after {
  content: "AliceBlue";
}

.color-AntiqueWhite {
  background: #FAEBD7;
}

.color-AntiqueWhite:after {
  content: "AntiqueWhite";
}

.color-Aqua {
  background: #00FFFF;
}

.color-Aqua:after {
  content: "Aqua";
}

.color-Aquamarine {
  background: #7FFFD4;
}

.color-Aquamarine:after {
  content: "Aquamarine";
}

.color-Azure {
  background: #F0FFFF;
}

.color-Azure:after {
  content: "Azure";
}

.color-Beige {
  background: #F5F5DC;
}

.color-Beige:after {
  content: "Beige";
}

.color-Bisque {
  background: #FFE4C4;
}

.color-Bisque:after {
  content: "Bisque";
}

.color-Black {
  background: #000000;
}

.color-Black:after {
  content: "Black";
}

.color-BlanchedAlmond {
  background: #FFEBCD;
}

.color-BlanchedAlmond:after {
  content: "BlanchedAlmond";
}

.color-Blue {
  background: #0000FF;
}

.color-Blue:after {
  content: "Blue";
}

.color-BlueViolet {
  background: #8A2BE2;
}

.color-BlueViolet:after {
  content: "BlueViolet";
}

.color-Brown {
  background: #A52A2A;
}

.color-Brown:after {
  content: "Brown";
}

.color-BurlyWood {
  background: #DEB887;
}

.color-BurlyWood:after {
  content: "BurlyWood";
}

.color-CadetBlue {
  background: #5F9EA0;
}

.color-CadetBlue:after {
  content: "CadetBlue";
}

.color-Chartreuse {
  background: #7FFF00;
}

.color-Chartreuse:after {
  content: "Chartreuse";
}

.color-Chocolate {
  background: #D2691E;
}

.color-Chocolate:after {
  content: "Chocolate";
}

.color-Coral {
  background: #FF7F50;
}

.color-Coral:after {
  content: "Coral";
}

.color-CornflowerBlue {
  background: #6495ED;
}

.color-CornflowerBlue:after {
  content: "CornflowerBlue";
}

.color-Cornsilk {
  background: #FFF8DC;
}

.color-Cornsilk:after {
  content: "Cornsilk";
}

.color-Crimson {
  background: #DC143C;
}

.color-Crimson:after {
  content: "Crimson";
}

.color-DarkBlue {
  background: #00008B;
}

.color-DarkBlue:after {
  content: "DarkBlue";
}

.color-DarkCyan {
  background: #008B8B;
}

.color-DarkCyan:after {
  content: "DarkCyan";
}

.color-DarkGoldenRod {
  background: #B8860B;
}

.color-DarkGoldenRod:after {
  content: "DarkGoldenRod";
}

.color-DarkGray {
  background: #A9A9A9;
}

.color-DarkGray:after {
  content: "DarkGray";
}

.color-DarkGreen {
  background: #006400;
}

.color-DarkGreen:after {
  content: "DarkGreen";
}

.color-DarkKhaki {
  background: #BDB76B;
}

.color-DarkKhaki:after {
  content: "DarkKhaki";
}

.color-DarkMagenta {
  background: #8B008B;
}

.color-DarkMagenta:after {
  content: "DarkMagenta";
}

.color-DarkOliveGreen {
  background: #556B2F;
}

.color-DarkOliveGreen:after {
  content: "DarkOliveGreen";
}

.color-DarkOrange {
  background: #FF8C00;
}

.color-DarkOrange:after {
  content: "DarkOrange";
}

.color-DarkOrchid {
  background: #9932CC;
}

.color-DarkOrchid:after {
  content: "DarkOrchid";
}

.color-DarkRed {
  background: #8B0000;
}

.color-DarkRed:after {
  content: "DarkRed";
}

.color-DarkSalmon {
  background: #E9967A;
}

.color-DarkSalmon:after {
  content: "DarkSalmon";
}

.color-DarkSeaGreen {
  background: #8FBC8F;
}

.color-DarkSeaGreen:after {
  content: "DarkSeaGreen";
}

.color-DarkSlateBlue {
  background: #483D8B;
}

.color-DarkSlateBlue:after {
  content: "DarkSlateBlue";
}

.color-DarkSlateGray {
  background: #2F4F4F;
}

.color-DarkSlateGray:after {
  content: "DarkSlateGray";
}

.color-DarkTurquoise {
  background: #00CED1;
}

.color-DarkTurquoise:after {
  content: "DarkTurquoise";
}

.color-DarkViolet {
  background: #9400D3;
}

.color-DarkViolet:after {
  content: "DarkViolet";
}

.color-DeepPink {
  background: #FF1493;
}

.color-DeepPink:after {
  content: "DeepPink";
}

.color-DeepSkyBlue {
  background: #00BFFF;
}

.color-DeepSkyBlue:after {
  content: "DeepSkyBlue";
}

.color-DimGray {
  background: #696969;
}

.color-DimGray:after {
  content: "DimGray";
}

.color-DodgerBlue {
  background: #1E90FF;
}

.color-DodgerBlue:after {
  content: "DodgerBlue";
}

.color-FireBrick {
  background: #B22222;
}

.color-FireBrick:after {
  content: "FireBrick";
}

.color-FloralWhite {
  background: #FFFAF0;
}

.color-FloralWhite:after {
  content: "FloralWhite";
}

.color-ForestGreen {
  background: #228B22;
}

.color-ForestGreen:after {
  content: "ForestGreen";
}

.color-Gainsboro {
  background: #DCDCDC;
}

.color-Gainsboro:after {
  content: "Gainsboro";
}

.color-GhostWhite {
  background: #F8F8FF;
}

.color-GhostWhite:after {
  content: "GhostWhite";
}

.color-Gold {
  background: #FFD700;
}

.color-Gold:after {
  content: "Gold";
}

.color-GoldenRod {
  background: #DAA520;
}

.color-GoldenRod:after {
  content: "GoldenRod";
}

.color-Gray {
  background: #808080;
}

.color-Gray:after {
  content: "Gray";
}

.color-Green {
  background: #008000;
}

.color-Green:after {
  content: "Green";
}

.color-GreenYellow {
  background: #ADFF2F;
}

.color-GreenYellow:after {
  content: "GreenYellow";
}

.color-HoneyDew {
  background: #F0FFF0;
}

.color-HoneyDew:after {
  content: "HoneyDew";
}

.color-HotPink {
  background: #FF69B4;
}

.color-HotPink:after {
  content: "HotPink";
}

.color-IndianRed {
  background: #CD5C5C;
}

.color-IndianRed:after {
  content: "IndianRed";
}

.color-Indigo {
  background: #4B0082;
}

.color-Indigo:after {
  content: "Indigo";
}

.color-Ivory {
  background: #FFFFF0;
}

.color-Ivory:after {
  content: "Ivory";
}

.color-Khaki {
  background: #F0E68C;
}

.color-Khaki:after {
  content: "Khaki";
}

.color-Lavender {
  background: #E6E6FA;
}

.color-Lavender:after {
  content: "Lavender";
}

.color-LavenderBlush {
  background: #FFF0F5;
}

.color-LavenderBlush:after {
  content: "LavenderBlush";
}

.color-LawnGreen {
  background: #7CFC00;
}

.color-LawnGreen:after {
  content: "LawnGreen";
}

.color-LemonChiffon {
  background: #FFFACD;
}

.color-LemonChiffon:after {
  content: "LemonChiffon";
}

.color-LightBlue {
  background: #ADD8E6;
}

.color-LightBlue:after {
  content: "LightBlue";
}

.color-LightCoral {
  background: #F08080;
}

.color-LightCoral:after {
  content: "LightCoral";
}

.color-LightCyan {
  background: #E0FFFF;
}

.color-LightCyan:after {
  content: "LightCyan";
}

.color-LightGoldenRodYellow {
  background: #FAFAD2;
}

.color-LightGoldenRodYellow:after {
  content: "LightGoldenRodYellow";
}

.color-LightGray {
  background: #D3D3D3;
}

.color-LightGray:after {
  content: "LightGray";
}

.color-LightGreen {
  background: #90EE90;
}

.color-LightGreen:after {
  content: "LightGreen";
}

.color-LightPink {
  background: #FFB6C1;
}

.color-LightPink:after {
  content: "LightPink";
}

.color-LightSalmon {
  background: #FFA07A;
}

.color-LightSalmon:after {
  content: "LightSalmon";
}

.color-LightSeaGreen {
  background: #20B2AA;
}

.color-LightSeaGreen:after {
  content: "LightSeaGreen";
}

.color-LightSkyBlue {
  background: #87CEFA;
}

.color-LightSkyBlue:after {
  content: "LightSkyBlue";
}

.color-LightSlateGray {
  background: #778899;
}

.color-LightSlateGray:after {
  content: "LightSlateGray";
}

.color-LightSteelBlue {
  background: #B0C4DE;
}

.color-LightSteelBlue:after {
  content: "LightSteelBlue";
}

.color-LightYellow {
  background: #FFFFE0;
}

.color-LightYellow:after {
  content: "LightYellow";
}

.color-Lime {
  background: #00FF00;
}

.color-Lime:after {
  content: "Lime";
}

.color-LimeGreen {
  background: #32CD32;
}

.color-LimeGreen:after {
  content: "LimeGreen";
}

.color-Linen {
  background: #FAF0E6;
}

.color-Linen:after {
  content: "Linen";
}

.color-Magenta {
  background: #FF00FF;
}

.color-Magenta:after {
  content: "Magenta";
}

.color-Maroon {
  background: #800000;
}

.color-Maroon:after {
  content: "Maroon";
}

.color-MediumAquaMarine {
  background: #66CDAA;
}

.color-MediumAquaMarine:after {
  content: "MediumAquaMarine";
}

.color-MediumBlue {
  background: #0000CD;
}

.color-MediumBlue:after {
  content: "MediumBlue";
}

.color-MediumOrchid {
  background: #BA55D3;
}

.color-MediumOrchid:after {
  content: "MediumOrchid";
}

.color-MediumPurple {
  background: #9370DB;
}

.color-MediumPurple:after {
  content: "MediumPurple";
}

.color-MediumSeaGreen {
  background: #3CB371;
}

.color-MediumSeaGreen:after {
  content: "MediumSeaGreen";
}

.color-MediumSlateBlue {
  background: #7B68EE;
}

.color-MediumSlateBlue:after {
  content: "MediumSlateBlue";
}

.color-MediumSpringGreen {
  background: #00FA9A;
}

.color-MediumSpringGreen:after {
  content: "MediumSpringGreen";
}

.color-MediumTurquoise {
  background: #48D1CC;
}

.color-MediumTurquoise:after {
  content: "MediumTurquoise";
}

.color-MediumVioletRed {
  background: #C71585;
}

.color-MediumVioletRed:after {
  content: "MediumVioletRed";
}

.color-MidnightBlue {
  background: #191970;
}

.color-MidnightBlue:after {
  content: "MidnightBlue";
}

.color-MintCream {
  background: #F5FFFA;
}

.color-MintCream:after {
  content: "MintCream";
}

.color-MistyRose {
  background: #FFE4E1;
}

.color-MistyRose:after {
  content: "MistyRose";
}

.color-Moccasin {
  background: #FFE4B5;
}

.color-Moccasin:after {
  content: "Moccasin";
}

.color-NavajoWhite {
  background: #FFDEAD;
}

.color-NavajoWhite:after {
  content: "NavajoWhite";
}

.color-Navy {
  background: #000080;
}

.color-Navy:after {
  content: "Navy";
}

.color-OldLace {
  background: #FDF5E6;
}

.color-OldLace:after {
  content: "OldLace";
}

.color-Olive {
  background: #808000;
}

.color-Olive:after {
  content: "Olive";
}

.color-OliveDrab {
  background: #6B8E23;
}

.color-OliveDrab:after {
  content: "OliveDrab";
}

.color-Orange {
  background: #FFA500;
}

.color-Orange:after {
  content: "Orange";
}

.color-OrangeRed {
  background: #FF4500;
}

.color-OrangeRed:after {
  content: "OrangeRed";
}

.color-Orchid {
  background: #DA70D6;
}

.color-Orchid:after {
  content: "Orchid";
}

.color-PaleGoldenRod {
  background: #EEE8AA;
}

.color-PaleGoldenRod:after {
  content: "PaleGoldenRod";
}

.color-PaleGreen {
  background: #98FB98;
}

.color-PaleGreen:after {
  content: "PaleGreen";
}

.color-PaleTurquoise {
  background: #AFEEEE;
}

.color-PaleTurquoise:after {
  content: "PaleTurquoise";
}

.color-PaleVioletRed {
  background: #DB7093;
}

.color-PaleVioletRed:after {
  content: "PaleVioletRed";
}

.color-PapayaWhip {
  background: #FFEFD5;
}

.color-PapayaWhip:after {
  content: "PapayaWhip";
}

.color-PeachPuff {
  background: #FFDAB9;
}

.color-PeachPuff:after {
  content: "PeachPuff";
}

.color-Peru {
  background: #CD853F;
}

.color-Peru:after {
  content: "Peru";
}

.color-Pink {
  background: #FFC0CB;
}

.color-Pink:after {
  content: "Pink";
}

.color-Plum {
  background: #DDA0DD;
}

.color-Plum:after {
  content: "Plum";
}

.color-PowderBlue {
  background: #B0E0E6;
}

.color-PowderBlue:after {
  content: "PowderBlue";
}

.color-Purple {
  background: #800080;
}

.color-Purple:after {
  content: "Purple";
}

.color-Red {
  background: #FF0000;
}

.color-Red:after {
  content: "Red";
}

.color-RosyBrown {
  background: #BC8F8F;
}

.color-RosyBrown:after {
  content: "RosyBrown";
}

.color-RoyalBlue {
  background: #4169E1;
}

.color-RoyalBlue:after {
  content: "RoyalBlue";
}

.color-SaddleBrown {
  background: #8B4513;
}

.color-SaddleBrown:after {
  content: "SaddleBrown";
}

.color-Salmon {
  background: #FA8072;
}

.color-Salmon:after {
  content: "Salmon";
}

.color-SandyBrown {
  background: #F4A460;
}

.color-SandyBrown:after {
  content: "SandyBrown";
}

.color-SeaGreen {
  background: #2E8B57;
}

.color-SeaGreen:after {
  content: "SeaGreen";
}

.color-SeaShell {
  background: #FFF5EE;
}

.color-SeaShell:after {
  content: "SeaShell";
}

.color-Sienna {
  background: #A0522D;
}

.color-Sienna:after {
  content: "Sienna";
}

.color-Silver {
  background: #C0C0C0;
}

.color-Silver:after {
  content: "Silver";
}

.color-SkyBlue {
  background: #87CEEB;
}

.color-SkyBlue:after {
  content: "SkyBlue";
}

.color-SlateBlue {
  background: #6A5ACD;
}

.color-SlateBlue:after {
  content: "SlateBlue";
}

.color-SlateGray {
  background: #708090;
}

.color-SlateGray:after {
  content: "SlateGray";
}

.color-Snow {
  background: #FFFAFA;
}

.color-Snow:after {
  content: "Snow";
}

.color-SpringGreen {
  background: #00FF7F;
}

.color-SpringGreen:after {
  content: "SpringGreen";
}

.color-SteelBlue {
  background: #4682B4;
}

.color-SteelBlue:after {
  content: "SteelBlue";
}

.color-Tan {
  background: #D2B48C;
}

.color-Tan:after {
  content: "Tan";
}

.color-Teal {
  background: #008080;
}

.color-Teal:after {
  content: "Teal";
}

.color-Thistle {
  background: #D8BFD8;
}

.color-Thistle:after {
  content: "Thistle";
}

.color-Tomato {
  background: #FF6347;
}

.color-Tomato:after {
  content: "Tomato";
}

.color-Turquoise {
  background: #40E0D0;
}

.color-Turquoise:after {
  content: "Turquoise";
}

.color-Violet {
  background: #EE82EE;
}

.color-Violet:after {
  content: "Violet";
}

.color-Wheat {
  background: #F5DEB3;
}

.color-Wheat:after {
  content: "Wheat";
}

.color-White {
  background: #FFFFFF;
}

.color-White:after {
  content: "White";
}

.color-WhiteSmoke {
  background: #F5F5F5;
}

.color-WhiteSmoke:after {
  content: "WhiteSmoke";
}

.color-Yellow {
  background: #FFFF00;
}

.color-Yellow:after {
  content: "Yellow";
}

.color-YellowGreen {
  background: #9ACD32;
}

.color-YellowGreen:after {
  content: "YellowGreen";
}

.extended_colors {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  font-size: .3em;
  > div {
    padding: 0.5em;
    width: calc(100% / 9);
    height: 1em;
    font-size: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.negative {
  color: #fff;
}